services:
  service-registry:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: service-registry
    ports:
      - "8761:8761"
    volumes:
      - ./logs:/app/logs
    restart: unless-stopped
    networks:
      - portability_net
networks:
  portability_net:
    external: true
    name: portability_prod
